<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../cs/bootstrap.min.css">
    <link rel="stylesheet" href="css/emcon.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Emergency contact of hospital</title>
    <link href="https://fonts.googleapis.com/css2?family=Mate+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<section class="emn">
    
        <div class="emn-header">
          {{>navbar}}
        <div class="emn-header-text">
           <h1>Emergency Contact</h1>
        </div>
        </div>
            <div class="emn-body">
            <ul class="row">
                <li><i class="fa fa-ambulance"></i><span>Chittagong Medical College Hospital<br>031-630335</span></li>
                 <li><i class="fa fa-ambulance"></i> <span>Chittagong 250 bed general hospital<br>031616786<br>031634037</span></li>
                 <li><i class="fa fa-ambulance"></i> <span>Chattogram Metropolitan Hospital Limited<br>  01814-651077</span></li>
                 <li><i class="fa fa-ambulance"></i><span>Imperial Hospital Limited<br>+880 9612-247247</span></li>
            </ul>
             
         </div>
    
</section>


    {{!-- ************************************* --}}
    {{>footer}}

    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
    <script src="script.js"></script>
</body>
</html>