<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../cs/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/contact.css">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Mate+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>


    {{!-- ************Header section starts************** --}}
    <div class="header">
        {{>navbar}}
        <div class="header-text">
            <h1 class="fon-weight-bold">Welcome to Chittagong</h1>
            <h4 class="font-weight-bold">do come & visit <span class="typing"></span></h4>
            <p>'Chittagong once isn't enough'</p>
        </div>
    </div>
    {{!-- ************Header section ends************** --}}



    <!-- ******* Loading effect******** -->
    <div class="loader">
        <div class="center">
            <div class="one"></div>
        </div>
    </div>

    {{!-- ***************dark/light theme************ --}}
    <div class="theme">
        <input type="checkbox" class="checkbox" id="checkbox">
        <label for="checkbox" class="label">
            <img class="moon" src="img/moon.png" alt="">
            <img class="sun" src="img/sun.png" alt="">
            <div class="ball"></div>
        </label>
    </div>


    {{!--
    <!-- ************** About section starts here ************--> --}}
    {{>about}}
    {{!--
    <!-- **********about section ends here*********** --> --}}

    {{!--
    <!-- ************** Video Gallery starts here ************--> --}}
    {{>videos}}
    {{!--
    <!-- **********Video Gallery ends here*********** --> --}}

    {{!-- {{>contact}} --}}

    {{!-- ************************************* --}}
    {{>footer}}

    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
    <script src="script.js"></script>
    <script src="wow.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
    <script>
        var wow = new WOW({
        boxClass: 'animate',
        animateClass: 'animated',
        offset: 90,
        // mobile: false
    })
    wow.init();
    </script>
</body>

</html>