<section class="about" id="aboutid">
    <div class="container">
        <div class="about-header">
            <h2> About Chittagong</h2>
        </div>
        <div class="start">
            <ul class="row">
                <div class=" col-md-12">
                    <li class="row">
                        <div class="col-sm-6 col-md-5 col-lg-5 col-xl-4">
                            <div class="left">
                                <div class="icon animate fadeInLeft" data-wow-delay=".3s">
                                    <img src="img/hist.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-lg-4 col-xl-4">
                            <div class="media-body animate fadeInLeft" data-wow-delay=".3s">
                                <h3>History</h3>
                                <p> on eligendi mollitia nam. lorem ipsumon eligendi
                                    mollitia nam. lorem ipsum on eligendi mollitia nam.
                                    lorem ipsum lorem ipsum on eligendi mollitia nam.
                                    lorem ipsum</p>
                                <a href="#" class="btn btn-about">Read More</a>
                            </div>
                        </div>
                    </li>

                    <li class="row">
                        <div class="offset-xl-4 offset-lg-3 offset-md-2 col-sm-6 col-md-5 col-lg-5 col-xl-4">
                            <div class="left">
                                <div class="icon animate fadeInRight" data-wow-delay=".3s">
                                    <img src="img/geo.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-lg-4 col-xl-4">
                            <div class="media-body animate fadeInRight" data-wow-delay=".3s">
                                <h3>Geography</h3>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex
                                    vitae officia idLorem ipsum, dolor sit amet consectetur adipisicing
                                    elit. aliquam vitae officia i cumque cupiditate non eligendi mollitia nam.</p>
                                <a href="#" class="btn btn-about">Read More</a>
                            </div>
                        </div>
                    </li>

                    <li class="row">
                        <div class="col-sm-6 col-md-5 col-lg-5 col-xl-4">
                            <div class="left">
                                <div class="icon animate fadeInLeft" data-wow-delay=".3s">
                                    <img src="img/culture.JPG" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-lg-4 col-xl-4">
                            <div class="media-body animate fadeInLeft" data-wow-delay=".3s">
                                <h3>Culture</h3>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex
                                    officia idLorem ipsum, dolor sit amet consectetur adipisicing
                                    elit. aliquam vitae officia i cumque cupiditate non eligendi mollitia nam.</p>
                                <a href="#" class="btn btn-about">Read More</a>
                            </div>
                        </div>
                    </li>

                    <li class="row">
                        <div class="offset-xl-4 offset-lg-3 offset-md-2 col-sm-6 col-md-5 col-lg-5 col-xl-4">
                            <div class="left">
                                <div class="icon icon animate fadeInRight" data-wow-delay=".3s">
                                    <img src="img/port.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-lg-4 col-xl-4">
                            <div class="media-body icon animate fadeInRight" data-wow-delay=".3s">
                                <h3>Economy</h3>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex
                                    aliquam vitae officia idLorem ipsum, dolor sit amet consectetur adipisicing
                                    vitae officia i cumque cupiditate non eligendi mollitia nam.</p>
                                <a href="#" class="btn btn-about">Read More</a>
                            </div>
                        </div>
                    </li>
                    <li class="row">
                        <div class="col-sm-6 col-md-5 col-lg-5 col-xl-4">
                            <div class="left">
                                <div class="icon animate fadeInLeft" data-wow-delay=".3s">
                                    <img src="img/food.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-lg-4 col-xl-4">
                            <div class="media-body animate fadeInLeft" data-wow-delay=".3s">
                                <h3>Food</h3>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex
                                    vitae officia idLorem ipsum, dolor sit amet consectetur adipisicing
                                    elit. vitae officia i cumque cupiditate non eligendi mollitia nam.</p>
                                <a href="#" class="btn btn-about">Read More</a>
                            </div>
                        </div>
                    </li>
                    <li class="row">
                        <div class="offset-xl-4 offset-lg-3 offset-md-2 col-sm-6 col-md-5 col-lg-5 col-xl-4">
                            <div class="left">
                                <div class="icon icon animate fadeInRight" data-wow-delay=".3s">
                                    <img src="img/cuet.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-lg-4 col-xl-4">
                            <div class="media-body icon animate fadeInRight" data-wow-delay=".3s">
                                <h3>Education</h3>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex
                                    vitae officia idLorem ipsum, dolor sit amet consectetur adipisicing
                                    elit. vitae officia i cumque cupiditate non eligendi mollitia nam.</p>
                                <a href="#" class="btn btn-about">Read More</a>
                            </div>
                        </div>
                    </li>
                    <li class="row">
                        <div class="col-sm-6 col-md-5 col-lg-5 col-xl-4">
                            <div class="left">
                                <div class="icon animate fadeInLeft" data-wow-delay=".3s">
                                    <img src="img/mosque.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-lg-4 col-xl-4">
                            <div class="media-body animate fadeInLeft" data-wow-delay=".3s">
                                <h3>Religion</h3>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex
                                    praesentium
                                    aliquam vitae officia idLorem ipsum, dolor sit amet consectetur adipisicing
                                    elit. aliquam vitae officia i cumque cupiditate non eligendi mollitia nam.</p>
                                <a href="#" class="btn btn-about">Read More</a>
                            </div>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</section>