<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Hey Chittagong</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#aboutid">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Find
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/restaurant">Restaurant</a>
                        <a class="dropdown-item" href="/hotel">Hotel</a>
                        <a class="dropdown-item" href="/bank">Bank</a>
                        <a class="dropdown-item" href="/hospital">Hospital</a>
                        <a class="dropdown-item" href="/trans">Transportation</a>
                        <a class="dropdown-item" href="/tour">Tourism</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact" id="cbutton" class="cbutton">Contact</a>
                </li>
                {{!-- <li class="nav-item">
                    <a class="nav-link" href="#contactid">Contact</a>
                </li> --}}
            </ul>
            <form class="d-flex" id="search">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                <button id="button" type="submit">
                    <i class="fa fa-search"></i>
                </button>
                <div class="spinner">
                    <i class="fa fa-spinner"></i>
                </div>
            </form>
        </div>
    </div>
</nav>
